<div class="discussion-comment">
    <p class="discussion-comment-author">
        <span time-moment eventdate="evt.created_at" class="pull-right"></span>
        <span>{{author.full_name}} updated <a href="#!/story/{{ evt.event_info.story_id }}" rel="nofollow">{{ evt.event_info.task_title }}</a>
            from&nbsp;
            <task-status-dropdown status="{{ evt.event_info.old_status }}">
            </task-status-dropdown>
            &nbsp;to&nbsp;
            <task-status-dropdown status="{{ evt.event_info.new_status }}">
            </task-status-dropdown></span>
    </p>
</div>
