<div>
    <p ng-if="evt.event_info.story_id">
        {{ author.full_name }} left a comment on <a href="#!/story/{{evt.event_info.story_id}}">{{evt.event_info.story_title}}</a>
        <span class="pull-right" time-moment eventdate="created_at"></span>:
    </p>
    <p ng-if="!evt.event_info.story_id">
        {{ author.full_name }} left a comment <span class="pull-right"time-moment eventdate="created_at"></span>:
    </p>

    <p>
        <em>{{evt.event_info.comment_content || 'The author left a blank comment.'}}
        </em></p>
</div>
