<div class="discussion-comment"
     ng-controller="WorklistEventController">
    <p class="discussion-comment-author">
        <p>
            <span time-moment eventdate="evt.created_at" class="pull-right"></span>
            <span>
                {{author.full_name}} created the worklist
                <a href="#!/worklist/{{evt.event_info.worklist_id}}">
                    {{ worklist.title }}
                </a>.
            </span>
        </p>
        <table class="table table-supercondensed table-striped">
            <tr>
                <td>Title</td>
                <td>{{ worklist.title }}</td>
            </tr>
            <tr>
                <td>Automatic</td>
                <td>{{ 'Yes' ? worklist.automatic : 'No' }}</td>
            </tr>
            <tr>
                <td>Private</td>
                <td>{{ 'Yes' ? worklist.private : 'No' }}</td>
            </tr>
        </table>
    </p>
</div>
