<div class="discussion-comment"
     ng-controller="WorklistEventController">
    <p class="discussion-comment-author">
        <p>
            <span time-moment eventdate="evt.created_at" class="pull-right"></span>
            <span>
                {{author.full_name}}
                <span ng-show="!!evt.event_info.added">
                    added the card "{{ evt.event_info.added.item_title }}" to
                </span>
                <span ng-show="!!evt.event_info.removed">
                    removed the card "{{ evt.event_info.removed.item_title }}" from
                </span>
                <span ng-show="!!evt.event_info.updated">
                    updated the card "{{ evt.event_info.updated.old.item_title }}" in
                </span>
                <a href="#!/worklist/{{evt.event_info.worklist_id}}" rel="nofollow">
                    {{ worklist.title }}
                </a>
                <span ng-show="!!evt.event_info.added">
                    in position {{ evt.event_info.added.position + 1 }}
                </span>.
            </span>
        </p>
        <div ng-show="!!evt.event_info.updated">
            <p>
                Moved from position {{ evt.event_info.updated.old.position + 1 }}
                to {{ evt.event_info.updated.new.position + 1 }}.
            </p>
        </div>
    </p>
</div>
