<div class="discussion-comment"
     ng-controller="WorklistEventController">
    <p class="discussion-comment-author">
        <p>
            <span time-moment eventdate="evt.created_at" class="pull-right"></span>
            <span>
                {{author.full_name}} updated the worklist
                <a href="#!/worklist/{{evt.event_info.worklist_id}}">
                    {{ worklist.title }}
                </a>.
            </span>
        </p>
        <p>
            {{ evt.event_info.field | capitalize }} was updated
            from <span class="label label-default">{{ evt.event_info.old_value }}</span>
            to <span class="label label-default">{{ evt.event_info.new_value }}</span>.
        </p>
    </p>
</div>
