<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 view-title>Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                <th>
                    <a href ng-click="collapsedEvents = !collapsedEvents"
                       ng-hide="subscriptionEvents.length < 1">
                        <i class="fa"
                           ng-class="{'fa-caret-down': !collapsedEvents,
                                      'fa-caret-right': collapsedEvents}">
                        </i>
                        Recent Events
                        <span ng-show="subscriptionEvents.length > 0">
                            ({{subscriptionEvents.length}})
                        </span>
                    </a>
                    <span ng-show="subscriptionEvents.length < 1">
                        Recent Events
                    </span>
                </th>
                <th><button type="button" class="close"
                    ng-show="subscriptionEvents.length > 0"
                    ng-click="removeAllEvents()">&times;
                </button></th>
                </thead>

                <tbody ng-show="!collapsedEvents">
                <tr ng-repeat="event in subscriptionEvents">
                    <td subscription-event="{{event}}"></td>
                    <td>
                        <button type="button" class="close"
                                ng-click="removeEvent(event)">
                            &times;
                        </button>
                    </td>
                </tr>
                </tbody>

                <tbody ng-show="subscriptionEvents.length == 0">
                <td colspan="2" class="text-center text-muted">
                    <em>
                        There are no recent events on your subscriptions.
                    </em>
                </td>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-striped">
                <thead>
                <th colspan="2">Tasks assigned to me</th>
                </thead>
                <tbody>
                <tr ng-repeat="task in progressTasks">
                    <td class="col-sm-2">
                        <task-status-dropdown status="{{task.status}}"/>
                    </td>
                    <td>
                        <p>
                            <a href="#!/story/{{task.story_id}}">
                                {{task.title}}
                            </a>
                        </p>
                    </td>
                </tr>
                </tbody>
                <tbody>
                <tr ng-repeat="task in todoTasks">
                    <td class="col-sm-2">
                        <task-status-dropdown status="{{task.status}}"/>
                    </td>
                    <td>
                        <p>
                            <a href="#!/story/{{task.story_id}}">
                                {{task.title}}
                            </a>
                        </p>
                    </td>
                </tr>
                </tbody>
                <tbody>
                <tr ng-repeat="task in reviewTasks">
                    <td class="col-sm-2">
                        <task-status-dropdown status="{{task.status}}"/>
                    </td>
                    <td>
                        <p>
                            <a href="#!/story/{{task.story_id}}">
                                {{task.title}}
                            </a>
                        </p>
                    </td>
                </tr>
                </tbody>
                <tbody ng-show="todoTasks.length == 0 &&
                                progressTasks.length == 0 &&
                                reviewTasks.length == 0">
                <td colspan="3" class="text-center text-muted">
                    <em>
                        There are no tasks in active stories currently assigned to you.
                    </em>
                </td>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table table-striped">
                <thead>
                <th colspan="2">Stories created by me</th>
                </thead>
                <tbody>
                <tr ng-repeat="story in createdStories">
                    <td class="col-sm-2">
                        <story-status-label story="story"/>
                    </td>
                    <td>
                        <subscribe class="pull-right"
                                   resource="story"
                                   resource-id="story.id"
                                   subscriptions="storySubscriptions">
                        </subscribe>
                        <p>
                            <a href="#!/story/{{story.id}}">
                                {{story.title}}
                            </a>
                        </p>
                        <story-task-status story="story"/>
                    </td>
                </tr>
                </tbody>
                <tbody ng-show="createdStories.length == 0">
                <td colspan="3" class="text-center text-muted">
                    <em>
                        There are no active stories currently assigned to you.
                    </em>
                </td>
                </tbody>
            </table>
        </div>
    </div>
</div>
