<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 view-title>Dashboard</h1>
        </div>
    </div>
    <!--recent events block-->
    <div class="row">
        <div class="col-sm-12">
            <h3>
                <a href ng-click="collapsedEvents = !collapsedEvents"
                    ng-hide="subscriptionEvents.length < 1">
                    <i class="fa"
                        ng-class="{'fa-caret-down': !collapsedEvents,
                                   'fa-caret-right': collapsedEvents}">
                    </i>
                    Recent Events
                    <span ng-show="subscriptionEvents.length > 0">
                        ({{subscriptionEvents.length}})
                    </span>
                </a>
                <span ng-show="subscriptionEvents.length < 1">
                    Recent Events
                </span>
                <span class="pull-right close" ng-if="!collapsedEvents && subscriptionEvents.length > 0">
                    <i class="fa fa-times" ng-click="removeAllEvents()"></i>
                </span>
            </h3>
            <div class="row bordered" ng-repeat="event in subscriptionEvents"
                 ng-if="!collapsedEvents">
                <p>
                    <button type="button" class="pull-right close" ng-click="removeEvent(event)">
                        <i class="fa fa-times"></i>
                    </button>
                </p>
                <div subscription-event="{{ event }}"></div>
            </div>
            <div class="row text-center text-muted"
                 ng-if="subscriptionEvents.length == 0">
                <p>
                    <em>There are no recent events on your subscriptions.</em>
                </p>
            </div>
        </div>
    </div>
    <!--end recent events block-->
    <div class="row">
        <!--tasks assigned block-->
        <div class="col-sm-6">
            <div class="card">
                <h3>Tasks assigned to me</h3>
                <div class="card-row" ng-repeat="task in todoTasks">
                    <task-status-dropdown
                            editable="{{isLoggedIn}}"
                            on-change="updateTask(task, 'status', status)"
                            status="{{task.status}}">
                    </task-status-dropdown>&emsp;
                    <a href="#!/story/{{task.story_id}}">
                        {{task.title}}
                    </a>
                </div>
                <div class="card-row" ng-repeat="task in progressTasks">
                    <task-status-dropdown
                            editable="{{isLoggedIn}}"
                            on-change="updateTask(task, 'status', status)"
                            status="{{task.status}}">
                    </task-status-dropdown>&emsp;
                    <a href="#!/story/{{task.story_id}}">
                        {{task.title}}
                    </a>
                </div>
                <div class="card-row" ng-repeat="task in reviewTasks">
                    <task-status-dropdown
                            editable="{{isLoggedIn}}"
                            on-change="updateTask(task, 'status', status)"
                            status="{{task.status}}">
                    </task-status-dropdown>&emsp;
                    <a href="#!/story/{{task.story_id}}">
                        {{task.title}}
                    </a>
                </div>
                <p class="card-row text-center text-muted"
                   ng-show="todoTasks.length == 0 &&
                            progressTasks.length == 0 &&
                            reviewTasks.length == 0">
                    <em>
                        There are no tasks in active stories currently assigned to you.
                    </em>
                </p>
            </div>
        </div>
        <!--end tasks assigned block-->
        <!-- stories created block-->
        <div class="col-sm-6">
            <div class="card">
                <h3>Stories created by me</h3>
                <div class="card-row" ng-repeat="story in createdStories">
                    <span class="pull-right">
                        <story-status-label story="story"></story-status-label>
                        &emsp;
                        <subscribe resource="story"
                                   resource-id="story.id"
                                   subscriptions="storySubscriptions">
                        </subscribe>
                    </span>
                    <a href="#!/story/{{story.id}}">
                        {{story.title}}
                    </a>
                    <p>
                        <story-task-status story="story"></story-task-status>
                    </p>
                </div>
                <p ng-show="createdStories.length == 0"
                   class="card-row text-center text-muted">
                    <em>
                        There are no stories created by you.
                    </em>
                </p>
            </div>
        </div>
        <!-- end stories created block-->
    </div>
</div>
