<div class="notification-container">
    <div ng-repeat="n in notifications | limitTo: displayCount"
         ng-switch="n.severity">
        <div ng-switch-when="error"
             class="alert alert-danger">
            <div ng-include
                 src="'/inline/notification_detail.html'"></div>
        </div>
        <div ng-switch-when="warning"
             class="alert alert-warning">
            <div ng-include
                 src="'/inline/notification_detail.html'"></div>
        </div>
        <div ng-switch-when="info"
             class="alert alert-info">
            <div ng-include
                 src="'/inline/notification_detail.html'"></div>
        </div>
        <div ng-switch-when="success"
             class="alert alert-success">
            <div ng-include
                 src="'/inline/notification_detail.html'"></div>
        </div>
    </div>
    <div ng-show="notifications.length &gt; displayCount"
         class="alert alert-info">
        Showing {{displayCount}} of {{notifications.length}}
        messages.
        <a href=""
           class="alert-link pull-right"
           ng-click="showMore()">
            <i class="fa fa-arrow-circle-down"></i>
            Show More
        </a>
    </div>
</div>


<script type="text/ng-template" id="/inline/notification_detail.html">
    <button type="button" class="close" ng-click="remove(n)">
        &times;
    </button>
    {{n.message}}
</script>