<form name="taskForm">
    <div class="form-group">
        <label for="title">Task Summary:</label>
        <textarea
                id="title"
                name="title"
                ng-model="task.title"
                required
                maxlength="255"
                placeholder="Describe the specifics of your task here"
                class="form-control input-sm">
        </textarea>
    </div>
    <div class="form-group has-feedback">
        <label for="project">Affected Project:</label>
        <input id="project"
               type="text"
               ng-model="asyncProject"
               typeahead-editable="false"
               typeahead="project as project.name for project in searchProjects($viewValue)"
               typeahead-loading="loadingProjects"
               typeahead-input-formatter="formatProjectName($model)"
               typeahead-on-select="selectNewProject($model)"
               class="form-control input-sm"
                />
        <span class="form-control-feedback text-muted form-control-feedback-sm">
            <i class="fa fa-refresh fa-spin" ng-show="loadingProjects"></i>
            <i class="fa fa-search" ng-hide="loadingProjects"></i>
        </span>
    </div>
    <div class="form-group has-feedback">
        <label for="assignee">Assigned To:</label>
        <input id="assignee"
               type="text"
               ng-model="asyncUser"
               placeholder="Choose a user."
               typeahead-editable="false"
               typeahead="user as user.full_name for user in searchUsers($viewValue)"
               typeahead-loading="loadingUsers"
               typeahead-input-formatter="formatUserName($model)"
               typeahead-on-select="selectNewUser($model)"
               class="form-control input-sm"
                />
        <span class="form-control-feedback text-muted form-control-feedback-sm">
            <i class="fa fa-refresh fa-spin" ng-show="loadingUsers"></i>
            <i class="fa fa-search" ng-hide="loadingUsers"></i>
        </span>
    </div>
    <div class="form-group">
        <div class="clearfix">
            <div class="pull-right">
                <div class="btn" ng-show="isUpdating">
                    <i class="fa fa-spinner fa-lg fa-spin"></i>
                </div>
                <button type="button"
                        class="btn btn-primary"
                        ng-click="onButtonClick({})"
                        ng-disabled="!taskForm.$valid">
                    {{buttonLabel}}
                </button>
            </div>
        </div>
    </div>
</form>
</form>