// A list of specific variable overrides. Since bootstrap is a fairly
// fast moving project, it is recommended we only include those variables which
// we are adding/overriding.

// ============================== Bootstrap Overrides ==========================

// Typography
// -------------------------
$font-size-h1: (floor($font-size-base * 2.15));
$font-size-h2: (floor($font-size-base * 1.7));
$font-size-h3: (ceil($font-size-base * 1.5));
$font-size-h4: (ceil($font-size-base * 1.25));
$font-size-h5: ($font-size-base);
$font-size-h6: (ceil($font-size-base * 0.85));

// Navbar
// -------------------------
// Basics of a navbar
$navbar-margin-bottom:             $line-height-computed;
$navbar-border-radius:             $border-radius-base;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2));
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);

// Sidebar
// -------

$sidebar-font-size: 1.2rem;

// Sidebar colors
$sidebar-bg:                         #333;
$sidebar-color:                      #aaa;
$sidebar-link-color:                 $white;
$sidebar-link-hover-color:           #333;
$sidebar-link-hover-bg:              #bbb;
$sidebar-link-active-color:          $sidebar-link-hover-color;
$sidebar-link-active-bg:             $white;
$sidebar-link-disabled-color:        #444;
$sidebar-link-disabled-bg:           transparent;

// Sizes for the side navbar at different container sizes.
$sidebar-width-xs: 50px;
$sidebar-width-sm: 70px;
$sidebar-width-md: 100px;
$sidebar-width-lg: 100px;

// Position of topleft corner for the sidebar
// top will be $navbar-height
$sidebar-left-xs: calc(100% - #{$sidebar-width-xs});
$sidebar-left-sm: 0;
$sidebar-left-md: 0;
$sidebar-left-lg: 0;

// Padding for the main sidebar menu
$sidebar-padding-xs: 5px;
$sidebar-padding-sm: 5px;
$sidebar-padding-md: 10px;
$sidebar-padding-lg: 10px;

// Sidebar items
$sidebar-divider-margin: 5px;
$sidebar-divider-width: 80%;
$sidebar-item-border-radius: 5px;
$sidebar-item-spacing: 0.4em;

$sidebar-item-padding-xs: 15px 5px;
$sidebar-item-padding-sm: 15px 5px;
$sidebar-item-padding-md: 10px;
$sidebar-item-padding-lg: 10px;

// Sidebar submenu
// ---------------
$sidebar-submenu-color: #ddd;
$sidebar-submenu-bg: #555;
$sidebar-submenu-hover-color: $white;
$sidebar-submenu-hover-bg: #777;

$sidebar-submenu-item-border-radius: 0px;
$sidebar-submenu-top-offset: 20px;

// Sizes for the side navbar submenu at different container sizes.
$sidebar-submenu-width-xs: 40px;
$sidebar-submenu-width-sm: 40px;
$sidebar-submenu-width-md: 40px;
$sidebar-submenu-width-lg: 40px;

// Form Controls
// -------------
$input-height-h1:             (ceil($font-size-h1 * $line-height-large) + ($padding-base-vertical * 2));
$input-height-h2:             (ceil($font-size-h2 * $line-height-large) + ($padding-base-vertical * 2));
$input-height-h3:             (ceil($font-size-h3 * $line-height-base) + ($padding-base-vertical * 2));
$input-height-h4:             (ceil($font-size-h4 * $line-height-base) + ($padding-base-vertical * 2));
$input-height-h5:             (ceil($font-size-h5 * $line-height-base) + ($padding-base-vertical * 2));
$input-height-h6:             (ceil($font-size-h6 * $line-height-base) + ($padding-base-vertical * 2));

// == Container sizes
$container-tablet:             ((720px + $grid-gutter-width - $sidebar-width-sm));
$container-desktop:            ((940px + $grid-gutter-width - $sidebar-width-md));
$container-large-desktop:      ((1140px + $grid-gutter-width - $sidebar-width-lg));