// A list of specific variable overrides. Since bootstrap is a fairly
// fast moving project, it is recommended we only include those variables which
// we are adding/overriding.

// ============================== Custom Variables =============================
@white: #FFFFFF;
@black: #000000;

// ============================== Bootstrap Overrides ==========================
// Brand colors
// -------------------------
@brand-primary: #C43422;

// == Container sizes
@container-tablet:             ((720px + @grid-gutter-width - @navbar-fixed-side-width-sm));
@container-desktop:            ((940px + @grid-gutter-width - @navbar-fixed-side-width-md));
@container-large-desktop:      ((1140px + @grid-gutter-width - @navbar-fixed-side-width-lg));

// Typography
// -------------------------
@font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;

@headings-font-family: @font-family-title;

@font-size-h1: (floor(@font-size-base * 2.15));
@font-size-h2: (floor(@font-size-base * 1.7));
@font-size-h3: (ceil(@font-size-base * 1.5));
@font-size-h4: (ceil(@font-size-base * 1.25));
@font-size-h5: (@font-size-base);
@font-size-h6: (ceil(@font-size-base * 0.85));


// Error messages
// --------------
@error-container-margin-horizontal: 10px;
@error-container-margin-vertical: 10px;
@error-container-max-width: 400px;

// Navbar
// -------------------------
// Basics of a navbar
@navbar-height:                    50px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-default-color:             @white;
@navbar-default-bg:                @brand-primary;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                @navbar-default-color;
@navbar-default-link-hover-color:          darken(@navbar-default-color, 10%);
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         darken(@navbar-default-color, 6.5%);
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           #ddd;
@navbar-default-toggle-icon-bar-bg:        #888;
@navbar-default-toggle-border-color:       #ddd;

// Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      @gray-light;
@navbar-inverse-bg:                         #222;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 @gray-light;
@navbar-inverse-link-hover-color:           #fff;
@navbar-inverse-link-hover-bg:              transparent;
@navbar-inverse-link-active-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:             lighten(@navbar-inverse-bg, 20%);
@navbar-inverse-link-disabled-color:        #444;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          #fff;
@navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            #333;
@navbar-inverse-toggle-icon-bar-bg:         #fff;
@navbar-inverse-toggle-border-color:        #333;

// Sizes for the side navbar at different container sizes.
@navbar-fixed-side-width-xs: 50px;
@navbar-fixed-side-width-sm: 50px;
@navbar-fixed-side-width-md: 90px;
@navbar-fixed-side-width-lg: 90px;


// Form Controls
@input-height-h1:             (ceil(@font-size-h1 * @line-height-large) + (@padding-base-vertical * 2));
@input-height-h2:             (ceil(@font-size-h2 * @line-height-large) + (@padding-base-vertical * 2));
@input-height-h3:             (ceil(@font-size-h3 * @line-height-base) + (@padding-base-vertical * 2));
@input-height-h4:             (ceil(@font-size-h4 * @line-height-base) + (@padding-base-vertical * 2));
@input-height-h5:             (ceil(@font-size-h5 * @line-height-base) + (@padding-base-vertical * 2));
@input-height-h6:             (ceil(@font-size-h6 * @line-height-base) + (@padding-base-vertical * 2));
