.row.bordered {
  border-top: 1px solid #ddd;
  padding: 10px;
  margin: 0px;
  line-height: 1.5em;
  background-color: transparent;
  overflow: hidden;

  &:last-of-type {
    border-bottom: 1px solid #ddd;
  }

  p {
    margin: 14px 0px;

    button.close {
      margin-left: 10px;
    }
  }
}

.indented {
  padding: 0px 15px;
}

table subscribe{
  margin: 2px;
}