.form-control-inline-feedback {
    top: -2px;
}

.input-expandable {
    width: 140px;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    box-sizing:border-box;
}

.input-expandable:focus {
    width: 300px;
}

.form-expandable {
    position: absolute;
    z-index:98;
}

.td-expandable {
    min-width:140px;
}
