.form-control-inline-feedback {
    position: absolute;
    top: -1px;
    right: 0;
    display: block;
    width: @input-height-base;
    height: @input-height-base;
    line-height: @input-height-base;
    text-align: center;
}

