<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <view-title>{{projectGroup.title}}</view-title>
            <h1>
                <i class="fa fa-sb-project-group"></i>
                {{projectGroup.title}}
                <small>
                    <a href="#!/project_group/{{projectGroup.id}}/edit" permission="is_superuser">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <subscribe resource="project_group"
                               resource-id="projectGroup.id"
                               subscriptions="projectGroupSubscription"
                               ng-if="resolvedUser">
                    </subscribe>
                </small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 text-center text-muted">
            <span class="hidden-xs">
                <i class="fa fa-3x fa-sb-project"></i>
                <br/>
                <small>Projects</small>
            </span>
            <i class="fa fa-2x fa-sb-project visible-xs"></i>
            <div class="col-xs-12">
                <br />
                <result-set-pager
                        class="form-control-static text-muted"
                        total="projectCount"
                        offset="projectSearchOffset"
                        limit="projectSearchLimit"
                        minimal-pager="true"
                        list-type="'projects'"
                        on-next-page="nextPage(type)"
                        on-previous-page="previousPage(type)"
                        on-page-size="updatePageSize(type, pageSize)"
                        ></result-set-pager>
            </div>
        </div>
        <div class="col-xs-10">
            <table class="table table-condensed table-striped table-clean">
                <tbody ng-if="projects.length != 0">
                <tr ng-repeat="project in projects"
                    ng-include="'app/search/template/project_search_item.html'">
                </tr>
                </tbody>

                <tbody ng-if="projects.length == 0">
                <td class="text-center text-muted">
                    <em>No projects found.</em>
                </td>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/ng-template" id="/inline/story_list.html">
        <div ng-controller="Project_GroupStoryListController">
            <div class="col-xs-12">
                <result-set-pager
                    class="form-control-static text-muted pull-right"
                    total="storyCount"
                    offset="searchOffset"
                    limit="searchLimit"
                    on-next-page="nextPage()"
                    on-previous-page="previousPage()"
                    on-page-size="updatePageSize(pageSize)"
                    ></result-set-pager>
                <a href=""
                   class="btn btn-link pull-right"
                   ng-click="newStory()"
                   ng-show="isLoggedIn">
                    <i class="fa fa-plus"></i>
                    Add story
                </a>
                <ul class="nav nav-tabs clearfix">
                    <li ng-class="{'active': filter == 'active'}">
                        <a href=""
                           ng-click="setFilter('active')">Active</a>
                    </li>
                    <li ng-class="{'active': filter == 'merged'}">
                        <a href=""
                           ng-click="setFilter('merged')">Merged</a>
                    </li>
                    <li ng-class="{'active': filter == 'invalid'}">
                        <a href=""
                           ng-click="setFilter('invalid')">Invalid</a>
                    </li>
                </ul>
                <table class="table table-striped"
                   ng-hide="isSearching || stories.length == 0">
                    <tbody>
                    <tr ng-repeat="story in stories"
                        ng-controller="StoryListItemController"
                        ng-include="'app/stories/template/story_list_item.html'">
                    </tr>
                    </tbody>
                </table>

                <div ng-show="isSearching">
                    <hr/>
                    <p class="text-center">
                        <i class="fa fa-refresh fa-spin fa-lg"></i>
                    </p>
                </div>

                <p ng-show="!isSearching && stories.length == 0"
                   class="text-center text-warning">
                    <br/>
                    <em> We were unable to find any stories.
                        Perhaps you would like to create one?</em>
                </p>
            </div>
        </div>
    </script>
</div>
