<a ng-switch="match.model.type"
   class="header-criteria-item">
    <span ng-switch-when="text">
        <i class="fa fa-search text-muted"></i>&emsp;{{match.model.title}}
    </span>
    <span ng-switch-when="story">
        <i class="fa fa-sb-story text-muted"></i>&emsp;{{match.model.value}}:
        {{match.model.title}}
    </span>
    <span ng-switch-when="project">
        <i class="fa fa-sb-project text-muted"></i>&emsp;{{match.model.title}}
    </span>
    <span ng-switch-when="user">
        <em class="pull-right text-muted">
            <span>User</span>
        </em>
        {{match.model.title}}
    </span>
    <span ng-switch-default>
        UNKNOWN TYPE: {{match.model.type}}
    </span>
</a>