<td style="white-space: nowrap">
    <a href=""
       ng-click="expandRow = !expandRow">
        <i class="fa fa-caret-down"
           ng-show="expandRow"></i>
        <i class="fa fa-caret-right"
           ng-hide="expandRow"></i>
    </a>&nbsp;
    <strong>
        <a href="#!/story/{{story.id}}">
            {{story.id}}
        </a>
    </strong>
</td>
<td>
    <p>
        <small ng-show="isLoggedIn">
            <subscribe resource="story"
                   resource-id="story.id"
                   subscriptions="subscriptions">
            </subscribe>
        </small>
        <strong>
            <a href="#!/story/{{story.id}}">
                {{story.title}}
            </a>
        </strong>
        <br/>
        <small class="text-muted honor-carriage-return"
               ng-show="expandRow">{{story.description}}
        </small>
    </p>
</td>
<td class="text-right">
    <p class="label {{statusLabelStyle}}"
       ng-click="expandRow = !expandRow">
        <i class="fa fa-caret-down"
           ng-show="expandRow"></i>
        <i class="fa fa-caret-right"
           ng-hide="expandRow"></i>
        {{story.status | capitalize}}
    </p>
    <table ng-show="expandRow"
           class="table table-clean table-supercondensed">

        <tr ng-repeat="task_status in story.task_statuses" class="{{status_classes[task_status.key]}}">
            <th>
                <small>{{status_texts[task_status.key]}}:</small>
            </th>
            <td>
                <strong>
                    <small>{{task_status.count || 0}}</small>
                </strong>
            </td>
        </tr>
    </table>
</td>
