<div class="panel panel-default">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true"
                ng-click="close()">&times;</button>
        <h3 class="panel-title">Update Timeline filter</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" role="form" name="fiterForm">
                    <div class="form-group col-sm-10">
                        <label>Timeline events</label>

                        <p class="help-block">
                            Which types of Timeline events would you like to be
                            displayed?
                        </p>
                    </div>
                    <div class="form-group col-sm-10">

                        <input type="checkbox" name="enabledTypes"
                               id="storyCreated"
                               ng-model="enabled_event_types.story_created">
                        <label for="storyCreated">Story created</label>
                        <br/>
                        <input type="checkbox" name="enabledTypes"
                               id="storyDetailsChanged"
                               ng-model="enabled_event_types.story_details_changed">
                        <label for="storyDetailsChanged">Story details changed</label>
                        <br/>
                        <input type="checkbox" name="enabledTypes"
                               id="taskCreated"
                               ng-model="enabled_event_types.task_created">
                        <label for="taskCreated">Task created</label>
                        <br/>
                        <input type="checkbox" name="enabledTypes"
                               id="taskAssigneeChanged"
                               ng-model="enabled_event_types.task_assignee_changed">
                        <label for="taskAssigneeChanged">Task assignee changed</label>
                        <br/>
                        <input type="checkbox" name="enabledTypes"
                               id="taskStatusChanged"
                               ng-model="enabled_event_types.task_status_changed">
                        <label for="taskStatusChanged">Task status changed</label>
                        <br/>
                        <input type="checkbox" name="enabledTypes"
                               id="taskPriorityChanged"
                               ng-model="enabled_event_types.task_priority_changed">
                        <label for="taskStatusChanged">Task priority changed</label>
                        <br/>
                        <input type="checkbox" name="enabledTypes"
                               id="taskDetailsChanged"
                               ng-model="enabled_event_types.task_details_changed">
                        <label for="taskDetailsChanged">Task details changed</label>
                        <br/>
                        <input type="checkbox" name="enabledTypes"
                               id="taskDeleted"
                               ng-model="enabled_event_types.task_deleted">
                        <label for="taskDeleted">Task deleted</label>
                        <br/>
                        <input type="checkbox" name="enabledTypes"
                               id="userComment"
                               ng-model="enabled_event_types.user_comment">
                        <label for="userComment">User comment</label>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 text-right">
                <button type="button"
                        class="btn btn-primary"
                        ng-click="save()">
                    Save Changes
                </button>
                <button type="button"
                        ng-click="close()"
                        class="btn btn-default">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
