<div class="panel panel-default">
    <div class="panel-heading">
        <button type="button" class="close" aria-hidden="true"
                ng-click="close()">&times;</button>
        <h3 class="panel-title">New Story</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                You should be authorized to perform this action.
            </div>
        </div>
        <button type="button" class="login" ng-click="login()">Login</button>
    </div>
</div>
