<td>
    <a href="#!/project_group/{{projectGroup.id}}">
        {{projectGroup.title | truncate: 97}}
    </a>
</td>
<td class="hidden-xs">
    <span time-moment eventdate="projectGroup.created_at">
    </span>
</td>
<td class="hidden-xs">
    <span time-moment
          ng-if="projectGroup.updated_at"
          eventdate="projectGroup.updated_at">
    </span>
</td>
<td>
    <small ng-show="isLoggedIn">
        <subscribe class="pull-right"
               resource="project_group"
               resource-id="projectGroup.id"
               subscriptions="projectGroupSubscriptions">
        </subscribe>
    </small>
</td>
