<td>
    <a href="#!/project/{{project.id}}">
        {{project.name | truncate: 97}}
    </a>
    <br/>
    <span class="text-muted">
        {{project.description | truncate: 97}}
    </span>
</td>
<td class="hidden-xs">
    <span time-moment eventdate="project.created_at">
    </span>
</td>
<td class="hidden-xs">
    <span time-moment
          ng-if="project.updated_at"
          eventdate="project.updated_at">
    </span>
</td>
<td>
    <small ng-show="isLoggedIn">
        <subscribe class="pull-right"
               resource="project"
               resource-id="project.id"
               subscriptions="projectSubscriptions">
        </subscribe>
    </small>
</td>
