<td>
    <a href="#!/project/{{project.name}}">
        {{project.name | truncate: 97}}
    </a>
    <span style="color:#C43422" ng-if="project.active_story_count!=NULL"> ({{project.active_story_count}})</span>
    <br/>
    <span class="text-muted">
        {{project.description | truncate: 97}}
    </span>
</td>
<td>
    <small ng-show="isLoggedIn">
        <subscribe class="pull-right"
               resource="project"
               resource-id="project.id"
               subscriptions="projectSubscriptions">
        </subscribe>
    </small>
</td>
