<td>
    <a href="#!/project_group/{{projectGroup.name}}">
        {{projectGroup.title | truncate: 97}}
    </a>
</td>
<td>
    <a href ng-click="collapsed = !collapsed"
       ng-hide="projectGroupItems.length < 2">
       <i class="fa" ng-class="{'fa-caret-right': collapsed,
                                'fa-caret-down': !collapsed}">
        </i>
       {{collapsed ? 'Show' : 'Hide'}} {{projectGroupItems.length}}
       projects...
    </a>
    <table>
        <tbody ng-if="loadingProjectGroupItems">
        <tr>
            <td>
                <span class="text-muted text-center">
                    <i class="fa fa-spin fa-sync"></i>
                </span>
            </td>
        </tr>
        </tbody>

        <tbody ng-if="projectGroupItems.length == 0 && !loadingProjectGroupItems">
        <tr>
            <td>
                <em class="text-muted">
                    This group does not contain any
                    projects.
                </em>
            </td>
        </tr>
        </tbody>

        <tbody ng-if="projectGroupItems.length > 0 && !collapsed">
        <tr ng-repeat="project in projectGroupItems">
            <td>
                <a href="#!/project/{{project.name}}">
                    {{project.name}}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href ng-click="collapsed = !collapsed"
       ng-show="projectGroupItems.length > 10 && !collapsed">
        <i class="fa fa-caret-up"></i>
        Hide {{projectGroupItems.length}} projects...
    </a>
</td>
<td>
    <small ng-show="isLoggedIn">
        <subscribe class="pull-right"
               resource="project_group"
               resource-id="projectGroup.id"
               subscriptions="projectGroupSubscriptions">
        </subscribe>
    </small>
</td>
