<td class="col-xs-7" style="word-break: break-word">
    <a href="#!/story/{{story.id}}">
        {{story.id}}: {{story.title | truncate: 97}}
    </a>
    <br/>
    <span class="text-muted">
        {{story.description | truncate: 97}}
    </span>
</td>
<td class="col-sm-2 hidden-xs">
    <span time-moment eventdate="story.created_at">
    </span>
</td>
<td class="col-sm-2 hidden-xs">
    <span time-moment eventdate="story.updated_at">
    </span>
</td>
<td class="text-right col-xs-1">
    <story-status-label story="story"/>
</td>
<td class="text-right">
    <small ng-show="isLoggedIn">
        <subscribe class="pull-right"
               resource="story"
               resource-id="story.id"
               subscriptions="storySubscriptions">
        </subscribe>
    </small>
</td>
