<td  style="word-break: break-word">
    <a href="#!/story/{{story.id}}">
        {{story.id}}: {{story.title | truncate: 97}}
    </a>
    <br/>
    <span class="text-muted">
        {{story.description | truncate: 97}}
    </span>
    <br/>
    <ul class="list-inline" ng-if="story.tags.length > 0">
        <li ng-repeat="tag in story.tags">
            <span class="label label-warning">
                {{tag}}
            </span>
        </li>
    </ul>
</td>
<td ng-repeat="criteria in chosenCriteria">
    <span ng-if="timeCriteria.includes(criteria)" time-moment eventdate="story[criteria]" short-date="true">
    </span>
    <span ng-if="!timeCriteria.includes(criteria)">
        {{story[criteria]}}
    </span>
</td>
<td class="text-right">
    <small ng-show="isLoggedIn">
        <subscribe class="pull-right"
               resource="story"
               resource-id="story.id"
               subscriptions="storySubscriptions">
        </subscribe>
    </small>
</td>
