<td class="col-xs-7" style="word-break: break-word">
    <a href="#!/story/{{story.id}}">
        {{story.id}}: {{story.title | truncate: 97}}
    </a>
    <small ng-show="isLoggedIn">
        <subscribe
               resource="story"
               resource-id="story.id"
               subscriptions="storySubscriptions">
        </subscribe>
    </small>
    <br/>
    <span class="text-muted">
        {{story.description | truncate: 97}}
    </span>
    <br/>
    <ul class="list-inline" ng-if="story.tags.length > 0">
        <li ng-repeat="tag in story.tags">
            <span class="label label-warning">
                {{tag}}
            </span>
        </li>
    </ul>
</td>
<td class="col-sm-2 hidden-xs">
    <span time-moment eventdate="story.created_at" short-date="true">
    </span>
</td>
<td class="col-sm-2 hidden-xs">
    <span time-moment eventdate="story.updated_at" short-date="true">
    </span>
</td>
<td class="text-right col-xs-1">
    <story-status-label story="story"/>
</td>
