<a ng-switch="match.model.type"
   class="header-criteria-item"
   title="{{match.model.type}}: {{match.model.title}}">
    <span ng-switch-when="Text">
        <i class="fa fa-search text-muted"></i>&emsp;{{match.model.title}}
    </span>
    <span ng-switch-when="Tags">
        <i class="fa fa-tag text-muted"></i>&emsp;{{match.model.title}}
    </span>
    <span ng-switch-when="Story">
        <i class="fa fa-sb-story text-muted"></i>&emsp;{{match.model.value}}:
        {{match.model.title}}
    </span>
    <span ng-switch-when="StoryStatus">
        <i class="fa fa-flag text-muted"></i>&emsp;Story Status:
        {{match.model.title}}
    </span>
    <span ng-switch-when="TaskStatus">
        <i class="fa fa-flag text-muted"></i>&emsp;Task Status:
        {{match.model.title}}
    </span>
    <span ng-switch-when="TaskPriority">
        <i class="fa fa-flag text-muted"></i>&emsp;Task Priority:
        {{match.model.title}}
    </span>
    <span ng-switch-when="Project">
        <i class="fa fa-sb-project text-muted"></i>&emsp;{{match.model.title}}
    </span>
    <span ng-switch-when="ProjectGroup">
        <i class="fa fa-sb-project-group text-muted">
        </i>&emsp;{{match.model.title}}
    </span>
    <span ng-switch-when="User">
        <i class="fa fa-sb-user text-muted"></i>&emsp;{{match.model.title}}
    </span>
    <span ng-switch-when="Task">
        <i class="fa fa-tasks text-muted"></i>&emsp;{{match.model.title}}
    </span>
    <span ng-switch-default>
        <i class="fa fa-question text-muted"></i>&emsp;{{match.model.type}}
    </span>
</a>
