<div class="form-group"
     ng-if="!enabled || !showForm">

    <p class="form-control-static">
        <i class="fa fa-sb-project text-muted"
           ng-if="!project || project.$resolved"></i>
        <i class="fa fa-spin fa-refresh text-muted"
           ng-if="project && !project.$resolved"></i>
        &nbsp;

        <a href="#!/project/{{project.id}}">{{project.name}}</a>

        &nbsp;
        <a href=""
           ng-focus="toggleForm()"
           ng-click="toggleForm()"
           ng-if="!showForm && enabled">
            <span ng-if="project">
                <i class="fa fa-pencil"></i>
            </span>
            <em ng-if="!project" class="text-muted">
                {{emptyPrompt}}
                <i class="fa fa-pencil"></i>
            </em>
        </a>

        <em class="text-muted"
            ng-if="!project && !enabled">
            {{emptyDisabledPrompt}}
        </em>
    </p>

</div>


<div class="form-group has-feedback has-feedback-no-label"
        ng-if="enabled && showForm">
    <input id="input"
           type="text"
           class="form-control"
           focus="autoFocus"
           ng-blur="toggleForm()"
           typeahead-editable="false"
           typeahead-wait-ms="200"
           typeahead="project as project.name for project in searchProjects($viewValue)"
           typeahead-loading="loadingProjects"
           typeahead-input-formatter="formatProjectName($model)"
           typeahead-on-select="updateViewValue($model.id);"
           placeholder="{{placeholder}}"
           ng-model="selectedProject"/>

    <span class="form-control-feedback text-muted">
        <i class="fa fa-search" ng-if="!loadingProjects"></i>
        <i class="fa fa-spin fa-refresh" ng-if="loadingProjects"></i>
    </span>
</div>
