<div class="tag-complete"
     ng-class="{'focused': hasFocus}">
    <div class="tag-input"
         ng-class="{'form-control': tagCompleteTags.length < maxTags || !maxTags}"
         ng-click="focus()">
        <span ng-repeat="tag in tagCompleteTags track by $index"
              ng-click="noFocus($event)">
            <div tag-complete-tag
                 index="$index"
                 tag="tag"
                 label-field="tagCompleteLabelField"
                 template-url="tagCompleteTagTemplateUrl"
                 remove-tag="removeTag(tag)">
            </div>
            <span ng-include="getTemplateUrl()"></span>
        </span>
        <input name="tagInputField"
               type="text"
               class="tag-input"
               autoresize-width
               ng-delete="deletePressed()"
               ng-model="newTagName"
               ng-show="tagCompleteTags.length < maxTags || !maxTags">
        </input>
    </div>
    <div typeahead-popup
         matches="matches"
         active="activeIdx"
         position="position"
         template-url="{{tagCompleteOptionTemplateUrl}}"
         select="select(activeIdx)">
    </div>

    <!-- Default tag template -->
    <script type="text/ng-template"
            id="/tag_complete/default_tag_template.html">
        <div class="tag">
            {{tag[labelField]}}
            <a class="tag-remove"
               ng-click="removeTag({tag:tag})">
                &times;
            </a>
        </div>
    </script>
</div>
