<span class="label label-{{style}}" ng-hide="editable">
    {{statusName}}
</span>
<div class="dropdown" ng-show="editable" dropdown>
    <a class="btn btn-{{style}} btn-xs dropdown-toggle" dropdown-toggle>
        {{ statusName }}
        <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li ng-repeat="task_status in taskStatuses" ng-class="{disabled: status == task_status.key}">
            <a href="" ng-click="setStatus(task_status.key)">{{task_status.name}}</a>
        </li>
    </ul>
</div>
