<span class="label label-{{style}}" ng-hide="editable">
    {{priority | taskPriorityLabel}}
</span>
<div class="dropdown form-control-static" ng-show="editable" dropdown>
    <a class="btn btn-{{style}} btn-xs dropdown-toggle" dropdown-toggle>
        {{priority | taskPriorityLabel}}
        <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li ng-class="{disabled: priority == 'high'}">
            <a href="" ng-click="setPriority('high')">
                {{'high' | taskPriorityLabel}}
            </a>
        </li>
        <li ng-class="{disabled: priority == 'medium'}">
            <a href="" ng-click="setPriority('medium')">
                {{'medium' | taskPriorityLabel}}
            </a>
        </li>
        <li ng-class="{disabled: priority == 'low'}">
            <a href="" ng-click="setPriority('low')">
                {{'low' | taskPriorityLabel}}
            </a>
        </li>
    </ul>
</div>
