<span ng-if="!formatString">
    <span ng-if="needsTimeAgo" am-time-ago="eventdate"
          title="{{eventdate.format('YYYY-MM-DD HH:mm:ss Z')}}" >
    </span>
    <span ng-if="!needsTimeAgo && shortDate"
          title="{{eventdate.format('YYYY-MM-DD HH:mm:ss Z')}}" >
        {{eventdate.format('YYYY-MM-DD')}}
    </span>
    <span ng-if="!needsTimeAgo && !shortDate">
        {{eventdate.format('YYYY-MM-DD [at] HH:mm:ss')}}
    </span>
</span>

<span ng-if="formatString">
    <span ng-if="needsTimeAgo" am-time-ago="eventdate"
          title="{{eventdate.format(formatString)}}">
    </span>
    <span ng-if="!needsTimeAgo">
        {{eventdate.format(formatString)}}
    </span>
</span>
