<span ng-if="!formatString">
    <span ng-if="needsTimeAgo" am-time-ago="eventdate"
          title="{{eventdate | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z'}}" >
    </span>
    <span ng-if="!needsTimeAgo && shortDate"
          title="{{eventdate | amDateFormat: 'YYYY-MM-DD HH:mm:ss Z'}}" >
        {{eventdate | amDateFormat: 'YYYY-MM-DD'}}
    </span>
    <span ng-if="!needsTimeAgo && !shortDate">
        {{eventdate | amDateFormat: 'YYYY-MM-DD [at] HH:mm:ss'}}
    </span>
</span>

<span ng-if="formatString">
    <span ng-if="needsTimeAgo" am-time-ago="eventdate"
          title="{{eventdate | amDateFormat: formatString}}">
    </span>
    <span ng-if="!needsTimeAgo">
        {{eventdate | amDateFormat: formatString}}
    </span>
</span>
