<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Comment history</h3>
    </div>
    <div class="panel-body">
        <div class="discussion">
            <div class="discussion-comment-important" ng-repeat="comment in history">
                <p class="discussion-comment-icon-primary">
                    <i class="fa fa-comment"></i>
                </p>
                <div class="discussion-event-complex">
                    <div class="discussion-event-header">
                        Comment content on
                        <span time-moment eventdate="comment.created_at" no-time-ago="true">
                        </span>
                    </div>
                    <insert-markdown content="comment.content"></insert-markdown>
                </div>
            </div>
            <div class="discussion-comment-important discussion-comment-active">
                <p class="discussion-comment-icon-primary">
                    <i class="fa fa-comment"></i>
                </p>
                <div class="discussion-event-complex">
                    <div class="discussion-event-header">
                        Current content
                    </div>
                    <insert-markdown content="comment.content"></insert-markdown>
                </div>
            </div>
        </div>
    </div>
</div>
