<div class="discussion-comment text-muted" ng-if="display_events_task_status_changed">
    <p class="discussion-comment-icon">
        <i class="fas fa-exchange-alt"></i>
    </p>
    <p class="discussion-event">
        <span>
            {{event.author.full_name}} updated the status of the task
            "{{ event.event_info.task_title }}" from&nbsp;
            <task-status-dropdown status="{{ event.event_info.old_status }}">
            </task-status-dropdown>
            &nbsp;to&nbsp;
            <task-status-dropdown status="{{ event.event_info.new_status }}">
            </task-status-dropdown>
            &nbsp;on
        </span>
        <span time-moment eventdate="event.created_at" no-time-ago="true"></span>
    </p>
</div>
