<div class="discussion-comment text-muted" ng-if="display_events_task_assignee_changed">
    <p class="discussion-comment-icon">
        <i class="fa fa-sb-user"></i>
    </p>
    <p class="discussion-event">
        <span>
            {{event.author.full_name}} updated the assignee of the
            task "{{ event.event_info.task_title }}" from
            {{ event.event_info.old_assignee_fullname }} to
            {{ event.event_info.new_assignee_fullname }} on 
        </span>
        <span time-moment eventdate="event.created_at"></span>
    </p>
</div>
