<div class="discussion-comment text-muted" ng-if="display_events_task_priority_changed">
    <p class="discussion-comment-icon">
        <i class="fa fa-exchange"></i>
    </p>
    <p class="discussion-event">
        <span>{{event.author.full_name}} updated the priority of the task 
            "{{ event.event_info.task_title }}" from&nbsp;
            <task-priority-dropdown priority="{{ event.event_info.old_priority }}">
            </task-priority-dropdown>
            &nbsp;to&nbsp;
            <task-priority-dropdown priority="{{ event.event_info.new_priority }}">
            </task-priority-dropdown>
            &nbsp;on </span>
        <span time-moment eventdate="event.created_at" no-time-ago="true"></span>
    </p>
</div>
