<div ng-switch="event_type">
    <div ng-switch-when="story_created">
        <div ng-include src="'app/stories/template/comments/story_created.html'"></div>
    </div>
    <div ng-switch-when="story_details_changed">
        <div ng-include src="'app/stories/template/comments/story_details_changed.html'"></div>
    </div>
    <div ng-switch-when="task_assignee_changed">
        <div ng-include src="'app/stories/template/comments/task_assignee_changed.html'"></div>
    </div>
    <div ng-switch-when="task_created">
        <div ng-include src="'app/stories/template/comments/task_created.html'"></div>
    </div>
    <div ng-switch-when="task_deleted">
        <div ng-include src="'app/stories/template/comments/task_deleted.html'"></div>
    </div>
    <div ng-switch-when="task_details_changed">
        <div ng-include src="'app/stories/template/comments/task_details_changed.html'"></div>
    </div>
    <div ng-switch-when="task_status_changed">
        <div ng-include src="'app/stories/template/comments/task_status_changed.html'"></div>
    </div>
    <div ng-switch-when="task_priority_changed">
        <div ng-include src="'app/stories/template/comments/task_priority_changed.html'"></div>
    </div>
    <div ng-switch-when="user_comment">
        <div ng-include src="'app/stories/template/comments/user_comment.html'"></div>
    </div>
    <div ng-switch-default>
        <div class="discussion-comment">
            <p class="discussion-comment-author">
                An unknown event occurred.
                <span time-moment eventdate="event.created_at" class="pull-right"></span>
            </p>
        </div>
    </div>
    {{event.event_type}}

</div>
