<div class="discussion-comment" id="comment-{{event.comment.id}}"
     ng-if="display_events_user_comment">
    <p class="discussion-comment-author">
        {{ event.author.full_name }}
        <span class="pull-right">
            <button class="btn btn-default btn-xs" ng-click="quote(event)"
                    title="Quote">
                <i class="fa fa-quote-left"></i>
            </button>
            &nbsp;
            <a class="btn btn-default btn-xs"
               href="#!/story/{{story.id}}#comment-{{event.comment.id}}"
               title="Permalink">
                <i class="fa fa-link"></i>
            </a>
            &nbsp;
            <span time-moment eventdate="event.created_at"></span>
        </span>
    </p>

    <insert-markdown ng-show="event.comment.content"
       content="event.comment.content">
    </insert-markdown>

    <p><em ng-hide="event.comment.content"
           class="text-muted">
        The author left a blank comment.
    </em></p>
</div>
