<div class="discussion-comment" ng-if="display_events_user_comment">
    <p class="discussion-comment-icon-primary">
        <i class="fa fa-comment"></i>
    </p>
    <div class="discussion-event-complex">
        <div class="discussion-event-header">
        {{ event.author.full_name }}
        <span class="pull-right">
            <span time-moment eventdate="event.created_at"></span>
            &nbsp;
            <button class="btn btn-default btn-xs" ng-click="quote(event)" ng-show="isLoggedIn"
                    title="Quote">
                <i class="fa fa-quote-left"></i>
            </button>
        </span>
        </div>
        <insert-markdown class="clearfix" ng-show="event.comment.content"
                         content="event.comment.content">
        </insert-markdown>
    </div>


    <p ng-hide="event.comment.content">
        <em class="text-muted">
            The author left a blank comment.
        </em>
    </p>
</div>
