<small>
<span class="badge"
      ng-class="{'badge-primary': story.todo  > 0}">
    {{story.todo}}
</span> ToDo
    &nbsp;
<span class="badge"
      ng-class="{'badge-primary': story.inprogress  > 0}">
    {{story.inprogress}}
</span> In Progress
    &nbsp;
<span class="badge"
      ng-class="{'badge-primary': story.review  > 0}">
    {{story.review}}
</span> In Review
    &nbsp;
<span class="badge"
      ng-class="{'badge-primary': story.merged  > 0}">
    {{story.merged}}
</span> Merged
    &nbsp;
<span class="badge"
      ng-class="{'badge-primary': story.invalid  > 0}">
    {{story.invalid}}
</span> Invalid
</small>