<div class="discussion-comment" ng-show="enabled_event_types.task_status_changed">
    <p class="discussion-comment-author">
         <span class="pull-right" ng-if="event.needs_timeago" am-time-ago="event.created_at" title="{{event.created_at | date:'yyyy-MM-dd HH:mm:ss Z'}}" ></span>
         <span class="pull-right" ng-if="!event.needs_timeago">{{event.created_at | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
         <span>{{author.full_name}} has updated a task {{ event_info.task_title }} status:
         {{ event_info.old_status }} ==> {{ event_info.new_status }}</span>
    </p>
</div>
